@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}

body {
  overflow: "x-hidden";
  scroll-behavior: smooth;
}
.container {
  padding: 0rem 10rem;
}
.home-page {
  position: relative;
}
header {
  padding: 1.8rem 10rem;
  box-shadow: 0 0 20px #eee;
}

.dark {
  background: #333;
  color: white;
}

.home-page {
  border-bottom: 5px solid #f00;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  font-size: 25px;
}
nav .logo span {
  font-size: 30px;
  color: #f32334;
}
nav ul {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
}
.close {
  display: none;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  transform: rotate(45deg);
  cursor: default;
  transition: all 0.1s ease-in;
}
.close:hover {
  color: red;
}
.menu i {
  display: none;
  cursor: pointer;
}
nav ul i {
  font-size: 1.8rem;
  cursor: pointer;
}
nav ul li {
  list-style-type: none;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background: #f32334;
  transition: all 0.5s ease;
}
nav ul li:hover::after {
  width: 100%;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0;
}
.hero-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.hero-left h1 {
  font-size: 5rem;
}
.hero-left h2 {
  font-size: 3rem;
}
.hero-left h2 span {
  background: linear-gradient(45deg, red, rgb(56, 58, 180));
  background-clip: text;
  color: transparent;
}
.hero-left p {
  width: 40vw;
  line-height: 1.8rem;
}
.hero-left button {
  width: 150px;
  border: none;
  outline: none;
  padding: 10px;
  background: #f32334;
  border-radius: 5px;
  margin: 2rem 0;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.hero-right img {
  width: 20vw;
  aspect-ratio: 1.5/2.5;
  border-radius: 10px;
  margin-right: 135px;
}
/*skill-page css ..........................................................*/
#skill-page {
  padding: 3rem 0 8rem;
  border-bottom: 5px solid #f00;
}
.skill-container {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 30px 0;
}
#skill-page h2 {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
#skill-page h2 span {
  text-align: center;
  font-size: 6rem;
  color: red;
}
.skill-row {
  width: 180px;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #ffffff;
  box-shadow: 0 0 10px #cccccc;
  transition: all 0.1s ease-in;
}
.skill-row:hover {
  box-shadow: 0 0 15px #aaa;
}
.skill-row img {
  width: 100px;
  aspect-ratio: 2.4/2.1;
}
.skill-row h3 {
  text-align: center;
  font-size: 2rem;
}
/* contact page css.......................................................*/

#contact-page {
  /* min-height: 100vh; */
  padding: 50px 0;
  border-bottom: 5px solid #f00;
}
#contact-page h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}

#contact-page h2 span {
  text-align: center;
  font-size: 6rem;
  color: red;
}
.contact-flex {
  display: flex;
  justify-content: center;
  gap: 12rem;
}
.contact-image img {
  width: 20vw;
  aspect-ratio: 2/2.5;
}
#contact-page form {
  border: 1px solid #aaa;
  padding: 30px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-height: 400px;
  border-radius: 10px;
}

form h3 {
  text-align: center;
  font-size: 3rem;
  color: red;
}
.inputs {
  position: relative;
}
form label {
  font-size: 1.6rem;
  position: absolute;
  left: 10px;
  top: 7px;
  transition: all 0.5s ease;
  background: #fff;
  padding: 0 5px;
  pointer-events: none;
}
form input {
  height: 40px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.6rem;
}
form input:focus {
  border: 1px solid #f00;
}

input:valid ~ label,
input:focus ~ label {
  font-size: 1.5rem;
  top: -10px;
  color: red;
}
form button {
  width: 30%;
  height: 40px;
  background: linear-gradient(45deg, red, rgb(56, 58, 180));
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
form button:hover {
  background: linear-gradient(90deg, red, rgb(56, 58, 180));
}
