@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #fcfcfc;
}
a {
  text-decoration: none;
  color: black;
}
.about-container h2,
.skill-container h2,
.project-container h2,
.contact-container h2 {
  position: relative;
  
}
.about-container h2::after,
.skill-container h2::after,
.project-container h2::after,
.contact-container h2::after {
  position: absolute;
  content: "";
  left: calc(50% - 50px);
  bottom: 0;
  width: 100px;
  background: currentColor;
  height: 2px;
  border-radius: 20px;
}
li {
  list-style: none;
}
.max-width {
  max-width: 1600px;
  margin: auto;
}
p {
  word-wrap: break-word;
}
header {
  background: #088395;
  padding: 0 80px;
}

.header-container {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  color: white;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 100px;
}
nav ul li {
  font-weight: 500;
  color: white;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
nav ul li:hover::after {
  width: 100%;
}
nav ul li a {
  color: white;
}
.hero-section {
  background: inherit;
}
.hero-container {
  padding: 130px 80px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container .left h1 {
  margin: 4px 0;
  font-size: 36px;
  color: #088395;
}
.hero-container .left .social-meida-links {
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
.hero-container .left .social-meida-links a {
  color: #088395;
}
.hero-container .left .cv-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 500px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #088395;
  background: white;
  color: #088395;

  transition: 0.1.5s ease-in;
}
.hero-container .left .cv-btn:hover {
  border: 1px solid #088395;
  color: white;
  background: #088395;
  cursor: pointer;
}
.hero-container .right img {
  width: 450px;
}
#humburger {
  display: none;
  cursor: pointer;
}
#close-menu {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 30px;
  cursor: pointer;
  color: #088395;
}
.small-screen-nav {
  backdrop-filter: blur(10px);
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  padding: 100px 40px;
  z-index: 9999999;
  display: none;
}
.small-screen-nav ul li {
  margin: 30px 0;
}
.small-screen-nav ul li a {
  margin: 30px 0;
  color: #088395;
}

/* About sectin css ....................................................*/
.about-section {
  background: white;
}
.about-container {
  padding: 40px 80px;
}
.about-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-container h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(49, 176, 255);
  margin-bottom: 20px;
}

.about-flex .left img {
  width: 450px;
}
.about-flex .right h3 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(49, 176, 255);
}

.about-flex .right p {
  max-width: 500px;
  font-size: 17px;
  color: #616161;
}
/* skill-section css ................................................*/
.skill-section {
  background: inherit;
}
.skill-container {
  padding: 40px 80px;
}
.skill-container h2 {
  text-align: center;
  font-size: 40px;
  color: #06cbb1;
  margin-bottom: 20px;
}
.skill-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
}
.skill-grid .box {
  width: 220px;
  box-shadow: 5px 5px 10px #eee;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.skill-grid .box i {
  box-shadow: 5px 5px 10px #eee;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 35px;
  position: absolute;
  top: 0px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.skill-grid .box i::after {
  content: "";
  position: absolute;
  bottom: -19.7px;
  left: calc(50% - 10px);
  margin: auto;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  text-shadow: 5px 5px 10px #eee;
}
.skill-grid .box:hover {
  border: 1px solid #06cbb1;
}
.skill-grid .box:hover i {
  top: -62.5px;
  transform: scale(1);
}
.skill-grid .box span {
  font-size: 20px;
  color: #777;
}
.skill-grid .tailwind-logo {
  position: absolute;
  box-shadow: 5px 5px 10px #eee;
  padding: 10px;
  border-radius: 4px;
  width: 50px;
  height: 40px;
  margin-bottom: 10px;
  top: 0px;
  transform: scale(0);
  transition: all 0.3s ease;
}
.skill-grid .tailwind-logo + span::after {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(50% - 10px);
  margin: auto;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  transition: all 0.3s ease;
}
.skill-grid .box:hover .tailwind-logo {
  top: -55.5px;
  transform: scale(1);
}
.skill-grid .box:hover .tailwind-logo + span::after {
  top: -15px;
}
/*project-section css ...............................................*/
.project-section {
  background: #fff;
}
.project-container {
  padding: 40px 80px;
}
.project-container h2 {
  color: #31b0ff;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}
.project-flex .flex-item {
  max-width: 380px;
  padding: 20px;
  border: 1px solid #cfcfcf;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px #ddd;
  transition: all 0.2s ease;
}
.flex-item .project-details p {
  color: #626262;
  margin: 15px 0 10px;
}
.project-flex .flex-item:hover {
  border: 1px solid #31b0ff;
}
.project-flex .flex-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}
.project-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* contact-section css............................................... */
.contact-section {
  background: inherit;
}
.contact-container {
  padding: 40px 80px;
}
.contact-container h2 {
  text-align: center;
  font-size: 40px;
  color: #06cbb1;
  margin-bottom: 20px;
}
.contact-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-flex .right img {
  width: 480px;
}
.contact-container form {
  width: 500px;
  border: 1px solid #06cbb1;
  border-radius: 4px;
  padding: 30px;
  background: white;
}
.contact-container form h3 {
  font-size: 25px;
  margin-bottom: 6px;
  color: #06cbb1;
}
.contact-container form label {
  color: #444;
}
.contact-container form .input-container {
  margin-bottom: 12px;
}
.contact-container form input,
textarea {
  border: 1px solid #aaa;
  padding: 8px 12px;
  max-width: 100%;
  min-width: 100%;
  min-height: 35px;
  border-radius: 4px;
}
.contact-container form input:focus,
textarea:focus {
  outline: 1px solid #06cbb1;
}
.contact-container form input[type="submit"] {
  border: none;
  background: #06cbb1;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.contact-container form input[type="submit"]:hover {
  background: #05a690;
}

.error {
  color: red;
  font-size: 13.5px;
}
/* footer css................................................*/
footer {
  background: #f3f7ec;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 20px 0;
  color: #06cbb1;
}
.footer-container .footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.footer-container .footer-links a {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #06cbb1;
}

/* media query............................................ */
@media only screen and (max-width: 1200px) {
  nav ul {
    gap: 70px;
  }
  .hero-container .left h1 {
    font-size: 32px;
  }
  .hero-container .right img {
    width: 340px;
  }
  .project-grid {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .about-flex .left img {
    width: 340px;
  }
  .about-flex {
    justify-content: space-between;
  }
  .about-flex .right {
    width: 400px;
  }
  .contact-container .right img {
    width: 400px;
  }
  .contact-container form {
    width: 420px;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 0px 40px;
  }
  nav ul {
    gap: 65px;
  }
  /* hero section ............................... */
  .hero-container {
    padding: 80px 40px;
  }
  .hero-container .left h1 {
    font-size: 25px;
  }

  /* about section ..................................*/
  .about-container,
  .skill-container,
  .project-container,
  .contact-container {
    padding: 30px 40px 50px;
  }
  .about-flex {
    justify-content: space-between;
  }
  .about-flex .right p {
    font-size: 14px;
  }
  /* skill section ....................................*/
  .skill-grid {
    grid-template-columns: auto auto;
    row-gap: 70px;
  }
  /* project section ..................................*/
  .project-grid {
    grid-template-columns: auto auto;
  }

  .contact-flex {
    justify-content: space-between;
  }
  .contact-container .right img {
    width: 400px;
  }
}
@media only screen and (max-width: 830px) {
  #humburger {
    display: block;
  }
  .hero-container .left {
    margin: auto;
  }
  .hero-container .left .social-meida-links {
    justify-content: center;
  }
  .hero-container .left .cv-btn {
    display: block;
    margin: auto;
  }
  .hero-container .left h1 {
    text-align: center;
  }
  .hero-container .right {
    display: none;
  }
  nav {
    display: none;
  }
  .about-containerh2,
  .skill-container h2,
  .project-container h2,
  .contact-container h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .about-flex {
    flex-direction: column;
    gap: 30px;
  }
  .about-flex .right p {
    text-align: center;
  }
  .skill-grid {
    grid-template-columns: auto;
  }
  .project-grid {
    grid-template-columns: auto;
    justify-content: center;
  }
  .contact-flex {
    flex-direction: column;
  }
  .contact-container .right img {
    display: none;
  }
  .contact-container form {
    width: 450px;
    border: 1px solid #06cbb1;
    border-radius: 4px;
    padding: 30px;
    background: white;
  }
}
@media only screen and (max-width: 600px) {
  .hero-container {
    padding: 80px 0px;
  }
  .hero-container .left {
    margin: 0;
  }
  .hero-container .left .social-meida-links {
    justify-content: flex-start;
  }
  .hero-container .left .cv-btn {
    margin-left: 0;
  }
  .hero-container .left h1 {
    text-align: left;
  }

  .hero-section,
  .about-section,
  .skill-container,
  .project-container,
  .contact-container {
    padding: 30px 40px 50px;
  }
  .about-container h2,
  .skill-container h2,
  .project-container h2,
  .contact-container h2 {
    font-size: 30px;
  }
  .about-container {
    padding: 0;
  }
  .about-container .left img {
    width: 300px;
  }
  .about-flex .right h3 {
    text-align: center;
  }
  .about-flex .right p {
    max-width: 300px;
    text-align: center;
    margin: auto;
  }
  .skill-grid .box  span{
    font-size: 16px;
  }
  .project-flex .flex-item {
    min-width: 320px;
  }
  .contact-container .left form {
    width: 370px;
    margin-top: 25px;
    padding: 18px 22px;
  }

  .contact-container h2 {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 400px) {
  header {
    padding: 0px 25px;
  }
  .hero-section,
  .about-section,
  .skill-container,
  .project-container,
  .contact-container {
    padding: 30px 25px 50px;
  }
  .hero-container {
    padding: 50px 0px;
  }
  .about-container .left img {
    width: 250px;
  }
  .contact-container .left form {
    width: 325px;
  }
}
